[Unit]
Description=Radio Paradise Main
Wants=network.target
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /usr/local/bin/stream_main.h --logfile /home/pi/stream_mellow.log
Restart=on-failure
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
